body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color:#00274c;
    color:#ffcb05;
    padding:5px;
    margin:0px;
    height:80;
    width:100%;
    position:fixed;
    top:0;

}
.top-left{
    padding:0px;
    text-align:left;
    color:#FFCB05;
}
.top-mid{
    padding:0px;
    text-align:center;
    color:#FFCB05;
    font-size:30px;
}

.top-right{
    padding:0px;
    text-align:left;
    color:#FFCB05;
    font-size:16px;
}

.content{
    margin:5%;
}

.pc{
    margin-left:10%;
    margin-right:10%;
}

table#table01{
    width: 100%; 
    height: 50px;
}


table#detail{
    border: 2px solid black;
    border-collapse: collapse;
}
table#detail tr:nth-child(even) {
    background-color: #eee;
}
table#detail tr:nth-child(odd) {
    background-color: #fff;
}
table#detail, th{
    border: 2px solid black;
    border-collapse: collapse;
    text-align:center;
    background-color:rgba(137,r 192, 236, 0.589);
    padding:5px;
}
table#detail td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align:center;
    padding:5px;
    padding-left:10px;
}


table#graph{
    border: 2px solid black;
    border-collapse: collapse;
}
table#graph tr:nth-child(even) {
    background-color: #eee;
}
table#graph tr:nth-child(odd) {
    background-color: #fff;
}
table#graph th{
    border: 2px solid black;
    border-collapse: collapse;
    text-align:center;
    padding:5px;
}
table#graph td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align:center;
    padding:5px;
    background-color:rgba(36, 37, 37, 0.589);
}
